@mixin center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin bacground-img($img) {
  background-image: url($img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin overlay {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

@mixin h-center {
  display: flex;
  justify-content: center;
}
@mixin v-center {
  display: flex;
  align-items: center;
}

@mixin res($bp) {
  @media (max-width: $bp) {
    @content;
  }
}
@mixin button($radious: 0px) {
  padding: 12px 30px;
  background-color: $primary-color;
  border: none;
  border-radius: $radious;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $secondary-color;
  }
}

// @keyframes slide-up {
//   0% {
//     opacity: 0;
//     transform: translateY(14px);
//   }

//   100% {
//     opacity: 1;
//     transform: none;
//   }
// }
