@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.breadcum-section {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bcb.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.breadcum-section div {
  z-index: 19;
}
.breadcum-section .overlay {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}
.breadcum-section .breadcrumb {
  padding-top: 10px;
}
.breadcum-section .breadcrumb li.breadcrumb-item {
  font-size: 1.5rem;
  color: white;
}
.breadcum-section .breadcrumb li.breadcrumb-item a {
  font-weight: 700;
  color: #7caf02;
  text-decoration: underline;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.top-header {
  background-color: #1e1b38;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
}
@media (max-width: 576px) {
  .top-header {
    display: none;
  }
}
.top-header .top-header-left {
  display: flex;
}
.top-header .top-header-left a {
  color: #fff;
}
.top-header .top-header-right .social-icon div {
  margin: 0 10px;
}
.top-header .top-header-right .social-icon a {
  font-size: 1.5rem;
  color: white;
}
.top-header .top-header-right .dropdown {
  padding-left: 20px;
}
.top-header .top-header-right .dropdown .dropdown-btn {
  color: #ffffff !important;
}
.top-header .top-header-right .dropdown .dropdown-btn span i {
  color: #7caf02;
}
.top-header .top-header-right .dropdown:hover .dropdown-menu {
  display: block;
  animation: slide-up 0.5s;
}
.top-header .top-header-right .dropdown .dropdown-menu {
  display: none;
  border: 0;
  z-index: 99999;
  border-radius: 0;
  width: 139px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.top-header .top-header-right .dropdown .dropdown-menu li {
  padding: 3px 20px 3px 0;
}
.top-header .top-header-right .dropdown .dropdown-menu li a {
  font-size: 1.6rem;
}
.top-header .top-header-right .dropdown .dropdown-menu li a:hover {
  color: #7caf02;
  background-color: transparent;
}

header {
  background-color: #ffffff;
}
header .left-item {
  display: flex;
  align-items: center;
}
header .left-item .logo {
  width: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  header .left-item .logo {
    height: 80px;
  }
}
header .left-item .menu a {
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 20px;
  display: inline-block;
}
header .left-item .menu a:hover {
  color: #7caf02;
}
@media (max-width: 800px) {
  header .left-item .menu {
    display: none;
  }
}
header .right-item a:nth-child(1) {
  display: none;
}
@media (max-width: 800px) {
  header .right-item a:nth-child(1) {
    display: inline-block;
  }
}
header .right-item a {
  display: inline-block;
  padding: 2px 7px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  font-size: 2rem;
  margin-left: 20px;
}
@media (max-width: 800px) {
  header .right-item a {
    margin-left: 10px;
  }
}
header .right-item a:hover {
  color: #7caf02;
}
header .right-item a .badge {
  background-color: #7caf02;
  font-size: 1.3rem;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.product-card {
  border-radius: 0;
  position: relative;
  padding-bottom: 20px;
}
.product-card .batch {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #7caf02;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.product-card .wishlist-btn {
  height: 30px;
  width: 30px;
  background-color: #7caf02;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  z-index: 9;
  position: absolute;
  top: 5%;
  right: 5%;
}
.product-card .quick-view {
  height: 30px;
  width: 30px;
  background-color: #7caf02;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  z-index: 9;
  position: absolute;
  top: 16%;
  right: 5%;
  transform: translatex(45px);
  opacity: 0;
  transition: 0.6s;
}
.product-card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.product-card .card-img img {
  height: 25rem;
  width: 25rem;
  margin-bottom: 20px;
}
.product-card .card-img .add-to-cart {
  display: block;
  padding: 10px 15px;
  background-color: #7caf02;
  color: white;
  font-size: 1.3rem;
  border: none;
  text-align: center;
  position: absolute;
  width: 12rem;
  bottom: 5px;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0;
  transform: translateY(14px);
  transition: 0.6s;
}
.product-card:hover {
  border: 1px solid #7caf02;
}
.product-card:hover .add-to-cart {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.product-card:hover .quick-view {
  opacity: 1;
  transform: translatex(0px);
}
.product-card:hover img {
  transform: scale(1.1) rotate(5deg);
  transition: 0.6s;
}
.product-card .card-body .star {
  color: #ffc107;
  font-size: 1.6rem;
}
.product-card .card-body .card-title {
  font-size: 1.6rem;
  font-weight: bolder;
}
.product-card .card-body .card-price {
  font-size: 2.4rem;
  color: #7caf02;
  font-weight: 500;
}
.product-card .card-body del {
  font-size: 1.6rem;
  color: gray;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.pre-footer {
  margin-top: 60px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #1e1b38;
}
@media (max-width: 800px) {
  .pre-footer {
    height: 250px;
  }
}
@media (max-width: 800px) {
  .pre-footer .text {
    padding-bottom: 20px;
  }
}
.pre-footer .text .icon {
  font-size: 56px;
  color: #7caf02;
}
.pre-footer .text .content {
  padding-left: 20px;
}
.pre-footer .text .content h2 {
  font-size: 3.2rem;
  color: #fff;
}
.pre-footer .text .content p {
  font-size: 1.5rem;
  color: #cacaca;
}
.pre-footer .email-box {
  display: flex;
  justify-content: center;
}
.pre-footer .email-box input {
  border-radius: 0;
  max-width: 70%;
  font-size: 1.7rem;
  background: transparent !important;
  border: 1px solid #6f6f6f;
  font-weight: 500;
}
.pre-footer .email-box input:focus {
  color: white;
  box-shadow: none;
  border: 1px solid #7caf02;
  font-size: 1.7rem;
}
.pre-footer .email-box a {
  border: none;
  padding: 10px;
  background-color: #7caf02;
  text-align: center;
  font-size: 1.6rem;
  display: block;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .pre-footer .email-box a {
    font-size: 1rem;
  }
}
.pre-footer .email-box a:hover {
  color: #fff;
}

footer {
  font-size: 1.5rem;
}
footer .footer-address {
  padding-left: 5px;
}
footer .footer-address h5 {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 20px;
}
footer .footer-address div {
  gap: 10px;
  font-size: 1.5rem;
}
footer .footer-address div span {
  color: #7caf02;
}
footer .footer-address div p {
  color: #6f6f6f;
}
footer .footer-address .footer-social {
  padding: 10px 0;
}
footer .footer-address .footer-social a {
  height: 30px;
  width: 30px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: #fff;
}
footer .footer-address .footer-social a.facebook {
  background-color: #3b5998;
}
footer .footer-address .footer-social a.twitter {
  background-color: #00acee;
}
footer .footer-address .footer-social a.instagram {
  background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient(135deg, #234bd7 12%, #c33cbe 58%);
}
footer .footer-address .footer-social a.linkedin {
  background-color: #0a66c2;
}
footer .footer-menu {
  padding-left: 5px;
}
footer .footer-menu h5 {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 20px;
}
footer .footer-menu ul {
  padding: 0;
}
footer .footer-menu ul li {
  list-style-type: none;
  padding: 5px 0;
}
footer .footer-menu ul li a {
  color: #6f6f6f;
}
footer .footer-menu ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-middle {
  margin-top: 40px !important;
}
footer .footer-middle h5 {
  font-size: 1.5rem;
}
footer .footer-middle span {
  cursor: pointer;
}
footer .footer-middle span a {
  color: #6f6f6f;
}
footer .footer-middle span a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-middle span:nth-child(odd)::before {
  content: "|";
  padding: 0px 10px;
}
footer .footer-middle span:nth-child(odd)::after {
  content: "|";
  padding: 0px 10px;
}
footer .footer-middle span:last-child::after {
  content: " ";
  padding: 0px 10px;
}
footer .footer-bottom {
  margin-top: 70px;
  height: 70px;
}
@media (max-width: 500px) {
  footer .footer-bottom .payment-way {
    display: flex;
    justify-content: center;
  }
}
footer .footer-bottom p {
  color: #6f6f6f;
}
@media (max-width: 500px) {
  footer .footer-bottom p {
    text-align: center;
  }
}
footer .footer-bottom p a {
  color: rgb(11, 11, 135);
  text-transform: uppercase;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.card-offcanvas .offcanvas-header .btn-close {
  font-size: 1.6rem;
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  box-sizing: border-box !important;
}
.card-offcanvas .offcanvas-header .btn-close:hover {
  transform: rotate(180deg);
  transition: 0.6s;
}
.card-offcanvas .offcanvas-header h5 {
  font-size: 2rem;
  font-weight: bold;
}
.card-offcanvas .offcanvas-body .cart .cart-img {
  height: 100px;
  width: 100px;
  border: 1px solid rgba(207, 207, 207, 0.514);
  padding: 5px;
}
.card-offcanvas .offcanvas-body .button-cart {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #7caf02;
  color: #7caf02;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 12px 0px;
  background-color: transparent;
  margin-top: 15px;
}
.card-offcanvas .offcanvas-body .button-cart:hover {
  background-color: #1e1b38;
  color: #fff !important;
  border: 1px solid #1e1b38;
}
.card-offcanvas .offcanvas-body .full-btn {
  background-color: #7caf02;
  color: #fff;
}
.card-offcanvas .sub-total h5 {
  font-size: 1.7rem;
}

.close-btn button {
  border-radius: 50% !important;
  height: 25px;
  width: 25px;
  border: none;
  transition: 0.6s;
}

.close-btn button:hover {
  background-color: #7caf02;
}

.product-title {
  font-size: 15px;
  font-weight: 700;
}

.product-title a {
  text-decoration: none;
  color: #000;
}
.product-title a:hover {
  color: #7caf02;
}

.offcanvas-header {
  padding: 20px 50px 20px 30px;
}

.quantity .quantity-container input {
  font-size: 1.5rem;
  width: 80px;
  padding: 8px 10px;
  text-align: center;
  border: 1px solid #7caf02;
}
.quantity .quantity-container input:focus {
  outline: none;
}
.quantity .quantity-container .quantity-button {
  border: none;
  background-color: #7caf02;
  color: #fff;
  padding: 5px 6px;
  font-size: 1.5rem;
}

.button-1 {
  padding: 12px 30px;
  background-color: #7caf02;
  border: none;
  border-radius: 0px;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
}
.button-1:hover {
  background-color: #272727;
}

.cupon-area {
  border: 1px solid #cacaca;
  padding: 0 !important;
  font-size: 15px;
}
.cupon-area h5 {
  font-size: 2rem;
  border-bottom: 1px solid #cacaca;
  padding: 16px;
}
.cupon-area form input {
  padding: 15px 10px;
  font-size: 1.5rem;
}
.cupon-area form input:focus {
  box-shadow: none;
  border: 1px solid #7caf02;
}

.proceed-chackout {
  border: 1px solid #cacaca;
  padding: 0 !important;
  font-size: 15px;
}
.proceed-chackout h5 {
  font-size: 2rem;
  border-bottom: 1px solid #cacaca;
  padding: 16px;
}
.proceed-chackout ul {
  padding: 20px;
  padding-bottom: 0px;
}
.proceed-chackout ul li {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.proceed-chackout ul li:nth-child(2) {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.offcanvas-header {
  padding: 20px 50px 20px 30px;
} 
html {
  font-size: 62.5%;
}

body {
  background-color: #e0e4e0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #272727;
  cursor: pointer;
}
a:hover {
  color: #7caf02;
}

img {
  max-width: 100%;
}

.h3 {
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 38px;
  font-family: "Roboto", sans-serif;
}

.card {
  border-radius: 0;
}
.card:hover {
  border-color: #7caf02 !important;
}

header {
  z-index: 999 !important;
}

.overlay {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.button {
  padding: 12px 30px;
  background-color: #7caf02;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}
.button:hover {
  background-color: #272727;
}

ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.button-2 {
  padding: 12px 30px;
  background-color: #1e1b38;
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}
.button-2:hover {
  opacity: 0.8;
}

.wishlist-section {
  margin: 50px 0;
}
.wishlist-section .table-responsive .table,
.wishlist-section .table-responsive tr,
.wishlist-section .table-responsive td,
.wishlist-section .table-responsive th {
  border: 1px solid #cacaca;
  padding: 10px;
}
.wishlist-section .table-responsive .table {
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
}
.wishlist-section .table-responsive .table thead tr th {
  background-color: #7caf02;
  color: white;
}
.wishlist-section .table-responsive .table tbody tr td.product-img {
  width: 120px;
}
.wishlist-section .table-responsive .table tbody tr td.product-img img {
  width: 100%;
  height: 100%;
}
.wishlist-section .table-responsive .table tbody tr td.product-name {
  font-weight: 700;
}
.wishlist-section .table-responsive .table tbody tr td.product-name a:hover {
  color: #7caf02;
}
.wishlist-section .table-responsive .table tbody tr td a .trush:hover {
  fill: #7caf02;
}

.categories-menu .list-group {
  font-size: 1.5rem;
}

.categories-item {
  position: relative;
  padding: 10px;
}
.categories-item.active {
  background-color: #7caf02 !important;
  border: #7caf02;
}
.categories-item:hover .sub-menu-1 {
  visibility: visible;
  animation: slide-left 0.6s;
}
.categories-item:hover.categories-item-2:hover .sub-menu-2 {
  visibility: visible;
  animation: slide-left 0.6s;
}
.categories-item .sub-menu-1,
.categories-item .sub-menu-2 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  border-left: 2px solid #7caf02 !important;
  z-index: 9999999;
}
.categories-item .sub-menu-1 ul,
.categories-item .sub-menu-2 ul {
  border-right: 1px solid #cacaca;
}
.categories-item .sub-menu-1 ul .header,
.categories-item .sub-menu-2 ul .header {
  font-weight: bold;
  border-bottom: 1px solid #cacaca;
}
.categories-item .sub-menu-1 ul li,
.categories-item .sub-menu-2 ul li {
  padding: 10px 20px;
  width: 200px;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 0 !important;
}

.hero-section {
  margin-top: 30px;
  margin-bottom: 80px;
}
.hero-section .carousel-item {
  padding: 100px 35px;
  border-radius: 10px;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  color: #fff;
}
.hero-section .carousel-item#hero-slider-item-1 {
  background-image: url(../images/banner-slider/slider-1.jpg);
}
.hero-section .carousel-item#hero-slider-item-2 {
  background-image: url(../images/banner-slider/slider-2.jpg);
}
.hero-section .carousel-item#hero-slider-item-3 {
  background-image: url(../images/banner-slider/slider-3.jpg);
}
.hero-section .carousel-item .hero-slider .slider-item {
  height: 277px;
}
.hero-section .carousel-item .hero-slider .slider-item .hero-slider-content {
  width: 400px;
}
.hero-section .carousel-item .hero-slider .slider-item .hero-slider-content h2 {
  font-size: 4rem;
  font-weight: 700;
}
.hero-section .carousel-item .hero-slider .slider-item .hero-slider-content p {
  font-size: 2.4rem;
  padding: 10px 0;
}

.service .service-content .service-icon {
  display: inline-block;
  border-radius: 50%;
  background-color: #7caf02;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  position: relative;
}
.service .service-content .service-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.service .service-content h5 {
  font-size: 1.6rem;
}
.service .service-content p {
  font-size: 1.5rem;
  color: #6f6f6f;
}

.banner-section .row {
  margin: 70px 0;
}
.banner-section .banner-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.banner-section .banner-box img {
  width: 100%;
}
.banner-section .banner-box:hover img {
  transform: scale(1.2);
  transition: 0.6s;
}

.product-grid-title {
  font-size: 2.4rem;
  font-weight: bold;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
@media (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 991px) {
  .deals-hot .product-list-card {
    margin-top: 20px;
  }
}

.owl-nav {
  padding: 20px 0;
  text-align: center;
  font-size: 1.5rem;
}
.owl-nav span {
  color: #ffffff;
  background-color: #7caf02;
  display: inline-block;
  margin-right: 23px;
  width: 25px;
}

.summer-sel {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
  background-image: url(../images/banner-slider/slider-4.jpg);
  border-radius: 9px;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 250px;
}
.summer-sel .summer-sel-content {
  width: 400px;
  z-index: 9999;
  padding-right: 20px;
}
.summer-sel .summer-sel-content div {
  font-size: 2.4rem;
}
.summer-sel .summer-sel-content h5 {
  font-size: 4rem;
}
.summer-sel .summer-sel-content p {
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  .product-categories .product-list-card {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .product-categories .product-list-card .mini-banner-two {
    padding-bottom: 20px;
  }
}

.mini-banner-two {
  background-image: url(../images/banner-slider/slider-3.jpg);
  background-size: conver;
  background-position: center;
  color: #fff;
}
.mini-banner-two .banner-content h5 {
  font-size: 1.5rem;
}
.mini-banner-two .banner-content h3 {
  font-size: 2.4rem;
  font-weight: 700;
}
.mini-banner-two .banner-content h6 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-top: 5px;
  margin-bottom: 10px;
}
.mini-banner-two .banner-content h6 span {
  color: #7caf02;
  font-weight: 500;
}

.call-section {
  background-color: #7caf02;
  padding: 35px 0;
}
.call-section h3 {
  font-weight: bold;
  font-size: 2.2rem;
}
.call-section a.button-2:hover {
  color: #fff;
}

.blog-card .blog-card-img {
  position: relative;
}
.blog-card .blog-card-img .blog-date {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  background-color: white;
  padding: 10px 20px;
}
.blog-card .blog-card-img:hover {
  color: black;
}
.blog-card .blog-content {
  padding: 20px;
}
.blog-card .blog-content h2 a {
  font-size: 2.4rem;
  padding-bottom: 10px;
}
.blog-card .blog-content h2 a:hover {
  color: #7caf02;
}
.blog-card .blog-content p {
  font-size: 1.5rem;
}
.blog-card .blog-footer {
  padding: 20px;
}
.blog-card .blog-footer .profile-img {
  height: 60px;
  width: 60px;
}
.blog-card .blog-footer .profile-img img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #7caf02;
}
.blog-card .blog-footer .read-more a {
  font-size: 4rem;
  color: #7caf02;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(14px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}/*# sourceMappingURL=style.css.map */